<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="My static HTML5 website">
	<meta name="author" content="Sean">

	<title>{{ page.title }}</title>

	<link rel="stylesheet" type="text/css" href="css/styles.css?v=1.0">
	<link rel="stylesheet" type="text/css" href="css/footer.css?v=1.0">
</head>
<body>
	<!-- Navbar -->
	<nav>
		<ul>
  			<div class="top fadeInDown animated">	
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/rowing">Rowing</a></li>
				<li><a href="/blog">Blog</a></li>
			</div>
		</ul>
	</nav>

	<!-- Page Content -->
	<div class="container">
	{{ content }}
	</div>
	
	<!-- Page Footer -->
	<footer>
		<div class="bottom fadeInUp animated">
			<h3>Other places I hang out</h3>
			<div class="footer-right">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>
			<div class="footer-left">
				<p class="footer-links">
					<a href="#">Home</a>
					·
					<a href="#">Blog</a>
					·
					<a href="#">Pricing</a>
					·
					<a href="#">About</a>
					·
					<a href="#">Faq</a>
					·
					<a href="#">Contact</a>
				</p>

				<p>Sean inc. &copy; 2019</p>
			</div>
			<div>
				<ul>
					<li><a href="mailto:#">email</a></li>
					<li><a href="https://github.com/Top-Dog">github.com/Top-Dog</a></li>
				</ul>
			</div>
			<p>A demo site built to make use of Git Pages. Also, to explore static templating and publishing content using liquid.</p>
		</div>
	</footer>

	<!-- Load Scripts -->
	<link rel="javascript" href="js/script.js">
</body>
</html>
